---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%-d/%m/%Y" %}

        <img src="assets/images/{{ post.preview }}" alt="image">
        <span class="post-cat">{{ post.categories }}</span>
        <h2>{{ post.title | escape }}</h2>
        <p>{{ post.intro }}</p>
        <span class="post-meta">Le {{ post.date | date: date_format }} <a class="post-link" href="{{ post.url | relative_url }}">Lire</a></span>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
